*.pyc
.vscode
output
old_output
old_output2
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/
data
raw_ADT_data/
exploring_ADT_data/
wandb/
debugging*
