*.pyc
.vscode
output
old_output
old_output2
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/ADT/*
data/ADT
data/HOI4D/*
data/HOI4D
data/automatic_data_extraction_testing/*
data/automatic_data_extraction_testing
raw_ADT_data/
exploring_ADT_data/
wandb/
debugging*
slurm*
submodules/*


debug_extrinsics.py
gaussian_renderer/debug_removable_densification_visualizer.py
output_best_baselines/
visualization_utils/dynamic_pointclouds*
