*.pyc
.vscode
output
old_output
old_output2
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/ADT/*
data/ADT
data/automatic_data_extraction_testing/*
data/automatic_data_extraction_testing
raw_ADT_data/
exploring_ADT_data/
wandb/
debugging*
slurm*
submodules/*
